body {
    background-image: url("../media/images/jpg/f0n.jpg");
    max-width: 960px;
    margin: 0 auto;
}
div {
    border: 1px solid crimson;
    padding: 5px 15px;
}
 h4 {
     font-family: "Arial Black";
     text-align: center;
     position: absolute;
     top: 210px;
     left: 25%;
 }

 ul{
     position: absolute;
     top: 237px;
     left: 24%;
 }

 .header {
     border-radius: 10px 10px 0 0;
     margin-top: 20px;
     background-image: url("../media/images/png/fun.png");
     min-height: 100px;
     line-height: 100px;
     text-align: center;
     margin-bottom: 10px;
     color: aliceblue;
 }
 .sidebar {
     background-image: url("../media/images/png/sidebar-img.png");
     float: left;
     margin-right: 10px;
     min-width:150px;
     max-width: 200px;
     height:185px;
     color: beige;
     padding: 510px 0px;
     text-align-all: start;
 }

.navbar {
    overflow: hidden;
    background-image: url("../media/images/png/sidebar-img.png") ;
    position: absolute;
    width: 928px;
    top: 180px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 10px;
    border-radius: 4px;

} 

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: darkred;
    color: white;
}

 .container {
     background-image: url("../media/images/png/fun.png");
     height: 1194px;
     text-align: justify;
     color: beige;
 }
 .footer {
     font-weight: bold;
     color: #FFFFFF;
     min-height: 10px;
     line-height: 10px;
     border-radius: 0 0 10px 10px;
     background-image: url("../media/images/png/fun.png");
 }