body {
    background-image: url("../media/images/jpg/backgroung-main-body.jpg");
    max-width: 960px;
    margin: 0 auto;
}
div {
    border: 1px solid wheat;
    padding: 5px 15px;
}
 h4 {
     text-align: center;
 }
 .header {
     border-radius: 10px 10px 0 0;
     margin-top: 20px;
     background-image: url("../media/images/jpg/tochnoNeFOn.jpg");
     min-height: 200px;
     line-height: 200px;
     text-align: center;
     margin-bottom: 10px;
     color: aliceblue;
 }
 .sidebar {
     background: bisque;
     float: left;
     margin-right: 10px;
     min-width:150px;
     max-width: 200px;
 }
 .container {
     background-image: url("../media/images/png/fun.png");
     margin-bottom: 10px;
     text-align: justify;
     color: beige;
 }
 .footer {
     font-weight: bold;
     color: #FFFFFF;
     min-height: 10px;
     line-height: 10px;
     border-radius: 0 0 10px 10px;
     background-image: url("../media/images/jpg/footer.jpg");
 }