body {
    background-image: url("f0n.jpg");
    max-width: 960 px;
    margin: 0 auto;
}
div {
    border: 1px solid wheat;
    padding: 5px 15 px;
}
 h4 {
     text-align: center;
 }
 .header {
     border-radius: 10px 10 px 0 0;
     margin-top: 20px;
     background-image: url("tochnoNeFOn.jpg");
     min-height: 200px;
     line-height: 200px;
     text-align: center;
     margin-bottom: 10px;
     color: aliceblue;
 }
 .sidebar {
     background: bisque;
     float: left;
     margin-right: 10 px;
     min-width:150 px;
     max-width: 200 px;
 }
 .container {
     background-image: url("fun.png");
     margin-bottom: 10px;
     text-align: justify;
     color: beige;
 }
 .footer {
     font-weight: bold;
     color: #FFFFFF;
     min-height: 10px;
     line-height: 10px;
     border-radius: 0 0 10px 10px;
     background-image: url("footer.jpg");
 }